.center-column:only-child {
	margin: auto;
	float: none;
}

.credentials {
  padding: 3rem;
  padding-bottom: 0rem;
  border: 1px solid #E1E1E1;
  border-radius: 4px;
  border-top: none;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  box-shadow: 0rem 0rem 10rem rgba(0, 0, 0, 0.15);
}

input.invalid {
  background-color: rgba(255, 0, 0, 0.2);
}
